<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ys.dashboardz.mapper.ServerMapper">
    <insert id="add" parameterType="org.ys.dashboardz.bean.Server">
        insert server (
			ip,
			name,
			rootpwd,
			ownerid,
			status
        )
        values(
	        #{ip},
	        #{name},
	        #{rootpwd},
	        #{ownerid},
	        #{status}
        )

    </insert>
    <select id="findByOwner" parameterType="int" resultType="org.ys.dashboardz.bean.Server">
        select id,
        	ip,
			name,
			rootpwd,
			ownerid,
			status
        from
            server
        where ownerid = #{ownerid}
    </select>
	<select id="findByName" resultType="org.ys.dashboardz.bean.Server">
		select id,
        	ip,
			name,
			ownerid,
			status
	    from
	    	server
	    where
	        name=#{name}
	</select>
    <select id="listAll" resultType="org.ys.dashboardz.bean.Server">
        select *
        from server
    </select>
    <delete id="del" parameterType="int">
        delete
        from admin
        where id = #{id}
    </delete>
</mapper>